h1{
    font-family: var(--titan-font);
    font-size: 5rem;
    font-weight: 500;}

button{
    background-color: rgb(201, 10, 121);
    border: none;
}
.btn{
    border: none;
    color: rgb(10, 177, 127);
}
.btn:hover{
    color: var(--palete-orange-dark);
}